In [4]:
# Dependencies
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

gkey = "AIzaSyDf-kIlaC2eZMYXJ3Nk6BQjeMcpw55vCEQ"

target_city = "Birmingham, UK"

In [5]:
types_df = pd.read_csv("Resources/ethnic_restr.csv")
types_df.head()

  ethnicity
0   chinese
1     cuban
2     czech
3    french
4    german

In [6]:
# set up additional columns to hold information
types_df['name'] = ""
types_df['address'] = ""
types_df['price_level'] = ""
types_df['rating'] = ""

types_df.head()

  ethnicity name address price_level rating
0   chinese
1     cuban
2     czech
3    french
4    german

In [7]:
# find the closest restaurant of each type to coordinates

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "location": "52.489471,-1.898575",  # Birmingham coords
    "rankby": "distance",
    "type": "restaurant",
    "key": gkey,
}
# use iterrows to iterate through pandas dataframe
for index, row in types_df.iterrows():

    # get restaurant type from df
    restr_type = row['ethnicity']

    # add keyword to params dict
    params['keyword'] = restr_type

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {restr_type}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest {restr_type} restaurant is {results[0]['name']}.")
        
        types_df.loc[index, 'name'] = results[0]['name']
        types_df.loc[index, 'address'] = results[0]['vicinity']
        types_df.loc[index, 'price_level'] = results[0]['price_level']
        types_df.loc[index, 'rating'] = results[0]['rating']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 0: chinese.
Closest chinese restaurant is Tattu Restaurant and Bar.
------------
Retrieving Results for Index 1: cuban.
Closest cuban restaurant is Revoluci√≥n de Cuba Birmingham.
------------
Retrieving Results for Index 2: czech.
Closest czech restaurant is Syriana Restaurant.
------------
Retrieving Results for Index 3: french.
Closest french restaurant is Hotel du Vin Birmingham.
Missing field/result... skipping.
------------
Retrieving Results for Index 4: german.
Closest german restaurant is German Doner Kebab.
------------
Retrieving Results for Index 5: greek.
Closest greek restaurant is Ionic Catering.
Missing field/result... skipping.
------------
Retrieving Results for Index 6: haitian.
Closest haitian restaurant is Bukka Kitchen.
Missing field/result... skipping.
------------
Retrieving Results for Index 7: hungarian.
Closest hungarian restaurant is Saint Pauls House.
Missing field/result... skipping.
------------
Retrieving Results for Index 8: indian.
Closest indian restaurant is Hen & Chickens.
------------
Retrieving Results for Index 9: indonesian.
Closest indonesian restaurant is Wok&Go - Aston University.
Missing field/result... skipping.
------------
Retrieving Results for Index 10: irish.
Closest irish restaurant is The Alchemist Colmore Row.
------------
Retrieving Results for Index 11: israeli.
Closest israeli restaurant is Syriana Restaurant.
------------
Retrieving Results for Index 12: italian.
Closest italian restaurant is The Birmingham Pizza Company.
Missing field/result... skipping.
------------
Retrieving Results for Index 13: japanese.
Closest japanese restaurant is Kodawari.
Missing field/result... skipping.
------------
Retrieving Results for Index 14: jewish.
Closest jewish restaurant is Deli Heaven.
Missing field/result... skipping.
------------
Retrieving Results for Index 15: korean.
Closest korean restaurant is Filthy Wings.
Missing field/result... skipping.
------------
Retrieving Results for Index 16: lebanese.
Closest lebanese restaurant is Syriana Restaurant.
------------
Retrieving Results for Index 17: mexican.
Closest mexican restaurant is Paco's.
Missing field/result... skipping.
------------
Retrieving Results for Index 18: new american.
Closest new american restaurant is Bun Meats Chicken.
Missing field/result... skipping.
------------
Retrieving Results for Index 19: pakistani.
Closest pakistani restaurant is Khan Palace.
Missing field/result... skipping.
------------
Retrieving Results for Index 20: polish.
Closest polish restaurant is The Karczma Restaurant.
------------
Retrieving Results for Index 21: russian.
Closest russian restaurant is Syriana Restaurant.
------------
Retrieving Results for Index 22: scandinavian.
Closest scandinavian restaurant is Restaurant Folium.
------------
Retrieving Results for Index 23: scottish.
Closest scottish restaurant is Celebz.
------------
Retrieving Results for Index 24: soul food.
Closest soul food restaurant is Glorious Catering & Restaurant.
------------
Retrieving Results for Index 25: spanish.
Closest spanish restaurant is Locanta italian restaurant.
------------
Retrieving Results for Index 26: thai.
Closest thai restaurant is Zen Metro.
------------
Retrieving Results for Index 27: turkish.
Closest turkish restaurant is City pizza & Kebab House.
------------
Retrieving Results for Index 28: ukrainian.
Closest ukrainian restaurant is Slovianka Polish & Ukrainian cuisine.
------------
Retrieving Results for Index 29: vietnamese.
Closest vietnamese restaurant is The Birmingham Pizza Company.
Missing field/result... skipping.
------------

In [8]:
types_df

,ethnicity,name,address,price_level,rating
0,chinese,Tattu Restaurant and Bar,"18 Barwick St, Birmingham",3,4.3
1,cuban,Revoluci√≥n de Cuba Birmingham,"8 Temple St, Birmingham",2,4.4
2,czech,Syriana Restaurant,"1 Constitution Hill, Birmingham",2,4.3
3,french,Hotel du Vin Birmingham,"25 Church St, Birmingham",,
4,german,German Doner Kebab,"84 Bull St, Birmingham",2,4.1
5,greek,Ionic Catering,"310 Summer Ln, Birmingham",,
6,haitian,Bukka Kitchen,"St George's Community Hub, 40 Great Hampton Ro...",,
7,hungarian,Saint Pauls House,"15-20 St Paul's Square, Birmingham",,
8,indian,Hen & Chickens,"27 Constitution Hill, Birmingham",1,4.4
9,indonesian,Wok&Go - Aston University,"Aston St, Birmingham",,
10,irish,The Alchemist Colmore Row,"THE GRAND, Colmore Row, Birmingham",3,4.4
11,israeli,Syriana Restaurant,"1 Constitution Hill, Birmingham",2,4.3
12,italian,The Birmingham Pizza Company,"31 Manchester St, Birmingham",,
13,japanese,Kodawari,"60 Hampton St, Birmingham",,
14,jewish,Deli Heaven,"22 Caroline St, Birmingham",,
15,korean,Filthy Wings,GRILLER KITCHENS A1-A3 MILLER STREET BUISINESS...,,
16,lebanese,Syriana Restaurant,"1 Constitution Hill, Birmingham",2,4.3
17,mexican,Paco's,"Miller St, Birmingham",,
18,new american,Bun Meats Chicken,"31 Manchester St, Birmingham",,
19,pakistani,Khan Palace,"26 Moat Ln, Birmingham",,
20,polish,The Karczma Restaurant,"Polish Millennium House, Bordesley St, Birmingham",2,4.5
21,russian,Syriana Restaurant,"1 Constitution Hill, Birmingham",2,4.3
22,scandinavian,Restaurant Folium,"8 Caroline St, Birmingham",3,4.8
23,scottish,Celebz,"203 Corporation St, Birmingham",2,3.9
24,soul food,Glorious Catering & Restaurant,"Unit 3, 310 Summer Ln, Birmingham",1,3.8
25,spanish,Locanta italian restaurant,"31 Ludgate Hill, Birmingham",2,4.4
26,thai,Zen Metro,"73 Cornwall St, Birmingham",2,4.4
27,turkish,City pizza & Kebab House,"29 Constitution Hill, Birmingham",1,3.5
28,ukrainian,Slovianka Polish & Ukrainian cuisine,"83 Far Gosford St, Coventry",2,4.4
29,vietnamese,The Birmingham Pizza Company,"31 Manchester St, Birmingham",,

In [10]:
types_df.to_csv("../Resources/data.csv")